<header>
    <nav class="relative z-50 bg-white shadow-sm">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-1 px-2 sm:px-4">
            <a href="{{ '/' | relative_url }}" class="flex items-center space-x-3">
                <img src="{{ '/assets/img/logo.png' | relative_url }}" class="h-22 lg:min-h-24 xl:min-h-26 2xl:min-h-30"
                    alt="Pitlane Logo" />
            </a>
            <button data-collapse-toggle="navbar-dropdown" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-dropdown" aria-expanded="false">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <div class="hidden w-full lg:block lg:w-auto" id="navbar-dropdown">
                <ul
                    class="uppercase flex flex-col font-semibold text-md p-4 lg:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 xl:text-lg lg:space-x-8 lg:flex-row lg:mt-0 lg:border-0 lg:bg-white">
                    {% for link in site.data.navigation %}
                    <li class="relative group">
                        {% if link.dropdown %}
                        <div class="flex items-center justify-between">
                            <a href="{{ link.url | relative_url }}"
                                class="uppercase py-2 px-3 flex items-center rounded-sm hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-red-700 lg:p-0 {% if link.nav_active and page.nav_active == link.nav_active %}active{% endif %}">
                                {{ link.title }}
                                <!-- Desktop button for the list -->
                                <svg class="ml-1 w-2.5 h-2.5 hidden lg:inline-block" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </a>

                            <!-- Mobile button to display / hide -->
                            <button type="button" class="lg:hidden px-2 py-2 text-sm text-gray-500 hover:text-red-700"
                                onclick="toggleDropdown('{{ link.id }}')">
                                <svg class="w-2.5 h-2.5" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>
                        </div>

                        <!-- Dropdown -->
                        <div id="{{ link.id }}"
                            class="absolute top-full left-0 hidden lg:group-hover:block font-semibold text-base bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-full lg:w-64 z-50">
                            <ul class="text-md" role="menu">
                                {% for item in link.items %}
                                <li>
                                    <a href="{{ item.url | relative_url }}"
                                        class="{% if page.nav_active == item.nav_active %}active{% endif %} block px-4 py-2 hover:bg-gray-100 hover:text-red-700 {% if forloop.first %}rounded-t-lg{% endif %} {% if forloop.last %}rounded-b-lg{% endif %}">
                                        {{ item.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <!-- Simple link wihtout dropdown -->
                        <a href="{{ link.url | relative_url }}"
                            class="uppercase py-2 px-3 block rounded-sm hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-red-700 lg:p-0 {% if page.nav_active == link.nav_active %}active{% endif %}">
                            {{ link.title }}
                        </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>